/* Importar fuente de Google Fonts */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3dcd68; /**no es mi color favorito pero habia que buscar algo que**/
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

p {
    margin: 5px 0;
    font-size: 14px;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #3dcd68;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    margin: 5px 0;
    font-size: 14px;
}

a {
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

a i {
    font-size: 30px;
    transition: color 0.3s; 
}

a i:hover {
    color: #007bff;
    transform: scale(1.2);
} /**el hover es para que haga lo de cambiar de color con la animacion (solo funciona con instram porque
yt ya tiene un color prefijado) pero igual creo que se ve mejor asi**/
